
*{
	box-sizing: border-box;
}
@media(min-width: 992px )
{
	.col , .col1{
		float: left;
		width:33.33%;
	}
}
@media(min-width: 768px) and (max-width: 991px )
{
	.col{
		float: left;
		width:50%;
	}
	.col1{
		float: left;
		width: 100%;
	}
}@media(max-width: 767px )
{
	.col , .col1{
		float: left;
		width:100%;
	}
}

h1{
	font-family: helvetica;
	text-align: center;
}


.item{
	box-sizing: border-box;
	background-color: silver;
	font-family: sans-serif;
	border-style: solid;
	border-width: 3px;
	height: 250px;
	margin:auto;
	margin-top: 3%;
}


#Chicken{
	position: relative;
	text-align: center;
	background-color: pink;
	border-style: solid;
	border-width: 2%;
	margin-top: -18px;
	margin-left: 80%;
	font-weight: 6%;

}

#Beef{
	position: relative;
	text-align: center;
	background-color: magenta;
	border-style: solid;
	border-width: 2%;
	margin-top: -18px;
	margin-left: 87%;
	font-weight: 6%;
	color: white;
	border-color: black;

}

#Sushi{
	position: relative;
	text-align: center;
	background-color: yellow;
	border-style: solid;
	border-width: 2px;
	margin-top: -18px;
	margin-left: 85%;
	font-weight: 6px;

}